<div class="side-nav">
  <img src="../../../../assets/Logo 2.0.png" alt="logo" />

  <div class="nav-btns">
    <app-button
      [style]="'nav-btn'"
      [icon]="'home.svg'"
      [text]="''"
    ></app-button>
    <app-button
      [icon]="'pin_drop.svg'"
      [style]="'nav-btn'"
      [text]="''"
    ></app-button>
    <app-button
      [icon]="'handyman.svg'"
      [style]="'nav-btn'"
      [text]="''"
    ></app-button>
    <app-button
      [icon]="'list.svg'"
      [style]="'nav-btn'"
      [text]="''"
    ></app-button>
  </div>

  <app-button
    [icon]="'help.svg'"
    [style]="'func-btn spacing'"
    [text]="''"
  ></app-button>
</div>
