<div class="side-nav">
  <img class="nav-logo" src="../../../../assets/Logo2.png" alt="logo" />

  <div class="nav-btns">
    <app-button
      [style]="'nav-btn'"
      [icon]="'IconThree.png'"
      [text]="''"
    ></app-button>
    <app-button
      [icon]="'IconTwo.png'"
      [style]="'nav-btn'"
      [text]="''"
    ></app-button>
    <app-button
      [icon]="'IconFour.png'"
      [style]="'nav-btn'"
      [text]="''"
    ></app-button>
    <app-button
      [icon]="'IconOne.png'"
      [style]="'nav-btn'"
      [text]="''"
    ></app-button>
  </div>

  <app-button
    [icon]="'help.svg'"
    [style]="'func-btn spacing'"
    [text]="''"
  ></app-button>
</div>
