@import "../../../../styles.scss";

.container {
  height: 100vh;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

.content-container {
  width: 71vw;
  margin-left: 25vh;
  height: 100vh;
  // background: rgb(72, 59, 39);
  background: linear-gradient(
    0deg,
    $Primary_darBrown 80%,
    rgba(80, 103, 235, 0) 100%
  );
  text-align: center;
  color: white;
  align-self: auto;
  padding: 100px 100px 100px 100px;
  @include boxShadow;
}
