/* You can add global styles to this file, and also import other style files */
$primary_dark: #191614;
$Primary_orange: #b0742f;
$Primary_brown: #483b27;
$Primary_darBrown: #2a2421;
$Primary_lightBrown: #837361;
$Primary_White: #f2f2f2f2;

$Semantic_Red: #d9363b;
$Semantic_Green: #5eb663;
