<div class="container">
  <div class="content-container">
    <div class="Head">
      <h1>Welcome to your Inventory</h1>
    </div>
    <app-filter-search></app-filter-search>
    <div class="Location-Filter">
      <b class="FilterBy">Filter By Location:</b>
      <div class="overflow">
        <div *ngFor="let in of counter(9); let i = index" class="Location">
          <b>Main-Base</b>
        </div>
      </div>
    </div>
    <div class="Items">
      <app-inventory-item
        *ngFor="let in of counter(9); let i = index"
      ></app-inventory-item>
    </div>
  </div>
</div>
<div class="Add-Item"></div>
